body{
    height: 60%;
    width: 60%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: lightgray;
}
input{
    width: 200px;
}
button{
    width: 20%;
    padding: 10px;
    background-color: lightblue;
    color: black;
    border-color: darkgray;
    border-radius: 5px;
    cursor: pointer;
    align-self: left;
}