<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <title>New Group</title>

        <link rel="stylesheet" href="/static/css/GroupEdit.css">
    </head>
    <body>
        <div id="container">
            <header>
                <h2>Group Edit</h2>
                <img src="static/images/Info.png" alt="WHY">
            </header>            


            <div class="text-entry">
                <label for="title">Title: </label>
                <input id="title" type="text">
            </div>

            <div>
                <label for="color">Color:</label><br>
                    <select id="color">
                        <option>Red</option>
                        <option>Orange</option>
                        <option>Yellow</option>
                        <option>Green</option>
                    </select>
            </div>

        </div>



    </body>
</html>