<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/css/MainPageCSS.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Wins</title>
</head>

<body>

    <div id="list-container"> 

        <div id="createdTask" style="display:none; background:#d4edda; padding:10px;">
            Task created successfully!
        </div>

        <div id="createdGroup" style="display:none; background:#d4edda; padding:10px;">
            Group created successfully!
        </div>

        <script>
            const params = new URLSearchParams(window.location.search);

            if (params.get("success") === "1") {
                document.getElementById("createdTask").style.display = "block";
            }

            if (params.get("success") === "2") {
                document.getElementById("createdGroup").style.display = "block";
            }
        </script>

        <form action="/logout" method="get">
            <button type="submit" id="logout">Logout</button>
        </form>


        <div id="header">
            <h1>Your Wins</h1>

            <div id="actions">
                <div id="filter-container">
                    <button hidden id="filterBtn">Filter ⏷</button>
                    <label> Filters: </label>
                    <div id="filterMenu" class="hidden">
                        <button data-filter="priority">Priority (High → Low)</button>
                        <button data-filter="due">Due Date (Soonest)</button>
                        <button data-filter="effort">Effort (Low → High)</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="tasks">
            <img src="/static/images/CheckSquare.png" id="icon">
            <dl></dl>
        </div>

        <div id="habits">
            <img src="/static/images/Award.png" id="icon">
            <dl></dl>
        </div>

        
        <a href="/taskcreation">
            <button>Add Task</button> 
        </a>
        
        <div id="groupButtons">
            <a href="/groupcreation">
                <button>Add Group</button> 
            </a>

            <a href="/modifygroup">
                <button>Modify Group</button> 
            </a>
        </div>

        <div id="wrapped">
            <a href="/wrapped" id="wrappedLink">
                <img src="/static/images/gift.png" id="wrappedIcon" alt="Wrap gift">

                {% if wrap_ready %}
                    <p>Wrap it up!</p>
                {% else %}
                    <p>Collecting wins...</p>
                {% endif %}
            </a>
        </div>

    </div>


    <script src="/static/js/index.js"></script>


</body>

</html>
