<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Little Wins</title>

    <!-- Link to CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <h1>Hello, Spring Boot 👋</h1>
        <p>This page is served with HTML + CSS, and python!</p>
    </header>

    <main>
        <section>
            <h2>About</h2>
            <p>
                This is a real HTML page rendered by Spring Boot,
                styled with a separate CSS file.
            </p>
        </section>
    </main>

</body>
</html>