<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/RegisterPage.css">
    <title>Register for LittleWins!</title>
</head>
<body>
    <h2>Register for LittleWins!</h2>
    <label for="new-username">Create Username:</label>
    <input id="new-username" type="text">
    
    <label for="email">Email:</label>
    <input id="email" type="email">

    <label for="new-password">Create Password:</label>
    <input id="new-password" type="password">

    

    <a href="welcome"><button id="register-submit" type="submit">Sign up</button></a>
</body>


</html>
