<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Win</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="/static/css/TaskCreation.css">
    </head>
    <body>
        <div id="container">
            <h2>New Win</h2>
            <img src="/static/images/Smile.png">

            <!-- Form starts -->
            <form action="/add_task" method="POST">

                <div class="text-entry">
                    <label for="title">Title: </label>
                    <input id="title" name="taskName" type="text" required>
                </div>

                <div class="text-entry">
                    <label for="description">Description: </label>
                    <textarea id="description" name="description" required></textarea>
                </div>

                <div id="selectors">
                    <div class="box">
                        <label for="group">Add to group:</label><br>
                        <select name="groupID">
                        <option value="0">No Group</option>
                        {% for group in groups %}
                        <option value="{{ group.groupID }}">
                            {{ group.groupName }}
                        </option>
                    {% endfor %}

                      </select>
                    </div>

                    <div class="box">
                        <label for="status">Status:</label><br>
                        <select id="status" name="status">
                            <option value="Not Started">Not Started</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Done">Done</option>
                        </select>
                    </div>

                    <div class="box">
                        <label for="due">Due:</label><br>
                        <input type="date" id="due" name="dueDate" required>
                    </div>
                </div>

                <div id="sliders">
                    <div class="slider-box">
                        <label for="priority">Priority:</label>
                        <input id="priority" type="range" min="0" max="5" value="0" name="priority">
                    </div>

                    <div class="slider-box">
                        <label for="effort">Effort Estimation:</label>
                        <input id="effort" type="range" min="0" max="5" value="0" name="effort">
                    </div>
                </div>

                <div id="submit-button">
                    <button type="submit">Create Task</button>
                </div>

            </form>
            <!-- Form ends -->

        </div>
    </body>
</html>